NODE_ENV=development

PORT=5000

MONGO_URI=mongodb://PlacementPortalUser:PP1234@ac-dqklrru-shard-00-00.rnx9orq.mongodb.net:27017,ac-dqklrru-shard-00-01.rnx9orq.mongodb.net:27017,ac-dqklrru-shard-00-02.rnx9orq.mongodb.net:27017/jolo-shadow?ssl=true&replicaSet=atlas-8ajzal-shard-0&authSource=admin&appName=Cluster0

REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=super-secret-access-key
JWT_REFRESH_SECRET=super-secret-refresh-key

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

EMAIL_VERIFICATION_EXPIRES_MINUTES=15

BCRYPT_SALT_ROUNDS=12

CLIENT_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

OPENAI_API_KEY=

CHROMA_URL=